{{define "root"}}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{- range .Header.Styles}}
<link rel="stylesheet" href="{{.HRef}}" integrity="{{.Integrity}}" crossorigin="anonymous">
{{- end}}
{{template "javascript" .Body.Scripts}}
</head>
<body>
{{template "navbar" .Body.Navbar}}
<div class="container">
{{template "container" .Body.Container}}
</div>
</body>
</html>
{{end}}

{{define "container"}}{{end}}
