{{template "root" .}}
{{define "container"}}
<div class="row">
  <h4 class="my-0 font-weight-normal">Addition</h4>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Fractions</h4>
    </div>
    <div class="card-body">
      <div id="addition" class="katex"></div>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="loadSum('fraction')">Next</button>
    </div>
  </div>
</div>
<div class="row">
  <h4 class="my-0 font-weight-normal">Integers</h4>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Small</h4>
    </div>
    <div class="card-body">
      <div id="integer_small" class="katex"></div>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="loadInteger('small')">Next</button>
    </div>
  </div>
  <div class="col-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Medium</h4>
    </div>
    <div class="card-body">
      <div id="integer_medium" class="katex"></div>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="loadInteger('medium')">Next</button>
    </div>
  </div>
  <div class="col-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Large</h4>
    </div>
    <div class="card-body">
      <div id="integer_large" class="katex"></div>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="loadInteger('large')">Next</button>
    </div>
  </div>
</div>
<div class="row">
  <h4 class="my-0 font-weight-normal">Fractions</h4>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Proper</h4>
    </div>
    <div class="card-body">
      <div id="proper_fraction" class="katex"></div>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="loadFraction('proper')">Next</button>
    </div>
  </div>
  <div class="col-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Improper</h4>
    </div>
    <div class="card-body">
      <div id="improper_fraction" class="katex"></div>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="loadFraction('improper')">Next</button>
    </div>
  </div>
  <div class="col-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Unit</h4>
    </div>
    <div class="card-body">
      <div id="unit_fraction" class="katex"></div>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="loadFraction('unit')">Next</button>
    </div>
  </div>
</div>
{{end}}
